.lista-albums{
  min-height: 500px;
  width: 100%;
  background-color: rgba(1000,1000,1000,0.5);
  padding: 36px 0 36px 0px;

}
.card-album-contents{
  padding: 0 18px 0 18px;
}
.name-album{
  text-align: initial;
  margin-right: 24px;
  text-transform: uppercase;
}
.tracks-contents{
  display: grid;
  grid-template-columns: 10% 10% 70% 10%;
  border-bottom: solid #fff 1px;
}
.track-duration-contents{
  text-align: end;
} 
.input-search{
  border: none;
    height: 30px;
    width: 70%;
    border-radius: 15px;
    margin-right: 10px;
}
.button-search{
  height: 30px;
  border: none;
  width: 100px;
  background: lightskyblue;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
}
.title-album-contents{
  display: flex;
  align-items: center;
}
.tracks-contents:hover{
  border: solid #fff 1px;
}
