.cadastro-album{
  min-height: 500px;
  width: 100%;
  background-color: rgba(1000,1000,1000,0.5);
  padding: 36px 0 36px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.input{
    border: none;
    height: 30px;
    width: 70%;
    border-radius: 15px;
}
.button{
  height: 40px;
  border: none;
  width: 200px;
  background: lightskyblue;
  border-radius: 30px;
  color: #fff;
  font-size: 24px;
  font-family: sans-serif;
  font-style: italic;
  margin-top: 32px;
}
.label{
  font-family: sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
}